<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Thuzio.com{% endblock %}</title>
    {% load staticfiles %}
    {% load bootstrap3 %}
	{% bootstrap_css %}
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	{% bootstrap_javascript %}
	<link rel="stylesheet" type="text/css" href="{% static 'thuzioapp/main.css' %}" />
</head>

<body>
	<div id='signin-bar'>
	{% if user.is_authenticated %}
		<a href="/thuzioapp/signout">Signout</a>
	{% else %}
		<a href="/thuzioapp/signin">Sign In</a>
	{% endif %}	
	</div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <!-- <script type="text/javascript" src="{% static '{{ STATIC_URL }}js/jquery.js' %}" /> -->
</body>

</html>