<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Thuzio Challenge 2">
    <meta name="author" content="Joe Jung">

    <title>{% block title %}Thuzio.com{% endblock %}</title>

    <!-- Load dependencies -->
    {% load staticfiles %}
    {% load bootstrap3 %}
	{% bootstrap_css %}

	<!-- Load jQuery & bootstrap javascript-->
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	{% bootstrap_javascript %}

	<!-- Load CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'thuzioapp/css/main.css' %}" />
	{% block addl_styles %}{% endblock %}
</head>

<body>
	<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    	<div class="container">
        	<div class="navbar-header">
	          	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
	            	<span class="sr-only">Toggle navigation</span>
	            	<span class="icon-bar"></span>
	            	<span class="icon-bar"></span>
	            	<span class="icon-bar"></span>
	          	</button>
	          	<a class="navbar-brand" href="{% url 'thuzioapp:index' %}">Thuzio.com</a>
        	</div>

	        <div class="collapse navbar-collapse">
	         	<ul class="nav navbar-nav">
	          		<li><a href="{% url 'thuzioapp:about' %}" />About</a></li>
					{% if user.is_authenticated %}
						<li><a href="{% url 'thuzioapp:signout' %}">Signout</a></li>
					{% else %}
						<li><a href="{% url 'thuzioapp:signin' %}">Sign In</a></li>
					{% endif %}	
	          	</ul>
	        </div><!-- /.nav-collapse -->
	    </div><!-- /.container -->
	</div><!-- /.navbar -->

    <div id="container">
        {% block content %}{% endblock %}
        <footer>
        	<div id="login-status">
        	{% if user.is_authenticated %}
        		Welcome {{ user.username }}
        	{% else %}
        		<a href="{% url 'thuzioapp:signin' %}">Please login</a>
        	{% endif %}
        	</div>
        	<div id="shopping-cart-status">
				{{ request.session.shopping_cart|length }} item(s) in shopping cart
        	</div>
        </footer>
    </div>

    <script type="text/javascript" src="{% static 'thuzioapp/js/main.js' %}" /></script>
</body>

</html>