{% extends "thuzioapp/base.html" %}
{% load staticfiles %}
{% block title %} Shopping Cart {% endblock %}

{% block addl_styles %} 
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'thuzioapp/css/cart.css' %}" />
{% endblock %}

{% block addl_head %}
	{{ block.super }}
	<meta level="{{ level }}">
{% endblock %}

{% block content %}
<div id="shopping-cart-container">
	{% for product in products %}
	<div class="product-box">
		<a href="{% url 'thuzioapp:detail' product.id %}">{{ product.title }}</a><br />
		<a href="{% url 'thuzioapp:detail' product.id %}"><img src="{{ product.image_300x200 }}" /></a><br />
		<div class="qty-in-cart">Qty in cart: <span class="product-qty">{{ product.qty }}</span></div><br />
		<div class="membership-price regular">Regular Price: $<span class="product-price">{{ product.price_unit_normal }}</span> + $<span class="product_shipping">{{ product.price_shipping }}</span> shipping</div><br />
		<div class="membership-price silver">Silver Members: $<span class="product-price">{{ product.price_unit_silver }}</span> + $<span class="product_shipping">{{ product.price_shipping }}</span> shipping</div><br />
		<div class="membership-price gold">Gold Members: $<span class="product-price">{{ product.price_unit_gold }}</span> + $<span class="product_shipping">{{ product.price_shipping }}</span> shipping</div><br />
		<div class="membership-price platinum"><strong>Platinum: $<span class="product-price">{{ product.price_unit_platinum }}</span> &amp; FREE SHIPPING!</strong></div><br />

		<form action="{% url 'thuzioapp:remove_from_cart' %}" method="post">
		{% csrf_token %}
			<label for="{{ qty }}">Qty to remove: </label>
			<input type="number" name="qty" id="qty" value="{{ qty }}" placeholder="{{ product.qty }}"/>
		    <input type="hidden" name="product" id="product" value="{{ product.pk }}" />
		    <input type="submit" value="Remove from cart" />
		</form><br />

		<div class="product-total"></div>
		<hr>
	</div>
	
	{% empty %}
	<h3 id="empty">Your cart is currently empty. Buy stuff!</h3>
	
	{% endfor %}
	

	<div id="current-total"></div>

</div>

{% endblock %}

{% block addl_js %}
	{{ block.super }}
	<script type="text/javascript" src="{% static 'thuzioapp/js/cart.js' %}"></script>
{% endblock %}