{% extends "thuzioapp/base.html" %}
{% load staticfiles %}
{% block title %} About {% endblock %}

{% block addl_styles %} 
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'thuzioapp/css/cart.css' %}" />
{% endblock %}

{% block addl_js %}
	{{ block.super }}
{% endblock %}

{% block addl_head %}
	{{ block.super }}
{% endblock %}

{% block content %}
<div id="shopping-cart-container">
	{% for product in products %}
	<div class=product-box>
		<a href="{% url 'thuzioapp:detail' product.id %}">{{ product.title }}</a><br />
		<a href="{% url 'thuzioapp:detail' product.id %}"><img src="{{ product.image_300x200 }}" /></a>
		<span class="pricing">Regular Price: ${{ product.price_unit_normal }}</span><br />
		<span class="pricing">Silver Members: ${{ product.price_unit_silver }}</span><br />
		<span class="pricing">Gold Members: ${{ product.price_unit_gold }}</span><br />
		<span class="pricing"><strong>Platinum: ${{ product.price_unit_platinum }} &amp; FREE SHIPPING!</span></strong><br />
	{% endfor %}

</div>

{% endblock %}