{% extends "thuzioapp/base.html" %}
{% load staticfiles %}
{% block title %} Checkout {% endblock %}

{% block addl_styles %} 
	{{ block.super }}
{% endblock %}

{% block addl_head %}
	{{ block.super }}
{% endblock %}

{% block content %}
<div id="checkout-container">
{% for product in purchase.products.all %}
	<div class="product-box">
	{{ product.title }}<br />
	qty:  <span class="qty">{{ joiner_dict|get_item:product.id }}</span>
	</div>
	<hr/>
{% endfor %}

Total: ${{ purchase.price_total }}

</div>



{% endblock%}

{% block addl_js %}
	{{ block.super }}
{% endblock %}