{% extends "thuzioapp/base.html" %}
{% load staticfiles %}
{% block title %} Complete {% endblock %}

{% block addl_styles %} 
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'thuzioapp/css/complete.css' %}" />
{% endblock %}

{% block addl_head %}
	{{ block.super }}
{% endblock %}

{% block content %}
<div id="complete-container">
	<h3>PURCHASE COMPLETE!</h3>
	<h5>Your Purchase Order # is {{ purchase.po_number }}</h5>
	<h5>Thanks for shopping at Thuzio.com!</h5>
</div>
{% endblock%}

{% block addl_js %}
	{{ block.super }}
{% endblock %}