{% extends "thuzioapp/base.html" %}
{% load staticfiles %}
{% block title %} Thuzio.com {% endblock %}

{% block addl_styles %} 
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'thuzioapp/css/detail.css' %}" />
{% endblock %}

{% block addl_head %}
	{{ block.super }}
	<meta level="{{ level }}">
{% endblock %}

{% block content %}
<div id="detail-container">
	<h2>{{ product.title }}</h2>
	<img src="{{ product.image_600x400 }}" />
	<hr>
	{% if user.is_authenticated %}
	<span class="membership-price regular">
		Price: {{ product.price_unit_normal }}<br />
		Shipping: {{ product.price_shipping }}<br />
		Total: {{ product.price_total_normal }}<br />
	</span>
	<span class="membership-price silver">
		Silver Discounted Price: {{ product.price_unit_silver }}<br />
		Shipping: {{ product.price_shipping }}<br />
		Total: {{ product.price_total_silver }}<br />
	</span>
	<span class="membership-price gold">
		Gold Discounted Price: {{ product.price_unit_gold }}<br />
		Shipping: {{ product.price_shipping }}<br />
		Total: {{ product.price_total_gold }}<br />
	</span>
	<span class="membership-price platinum">
		Premium Discounted Price: {{ product.price_unit_platinium }}<br />
		FREE SHIPPING!<br />
		Total: {{ product.price_total_platinum }}<br />
	</span>

	{% else %}
	<span class="pricing">Regular Price: ${{ product.price_unit_normal }}<br /></span>
	<span class="pricing">Silver Members: ${{ product.price_unit_silver }}<br /></span>
	<span class="pricing">Gold Members: ${{ product.price_unit_gold }}<br /></span>
	<span class="pricing"><strong>Platinum: ${{ product.price_unit_platinum }} &amp; FREE SHIPPING!<br /></span></strong>

	{% endif %}

	<form action="{% url 'thuzioapp:add_to_cart' %}" method="post">
	{% csrf_token %}
		<label for="{{ qty }}">Qty: </label>
		<input type="number" name="qty" id="qty" value="{{ qty }}" />
	    <input type="hidden" name="product" id="product" value="{{ product.pk }}" />
	    <input type="submit" value="Add To Cart" />
	</form>
</div>

{% endblock %}

{% block addl_js %}
	{{ block.super }}
	<script type="text/javascript" src="{% static 'thuzioapp/js/detail.js' %}"/></script>
{% endblock %}