{% extends "thuzioapp/base.html" %}

{% block title %} Thuzio.com {% endblock %}

{% block content %}

{% for product in products %}
    <!-- <li><a href="/thuzioapp/{{ product.id }}/">{{ product.title }}</a></li> -->
    <li><a href="{% url 'thuzioapp:detail' product.id %}">{{ product.title }}</a></li>
    <form action="{% url 'thuzioapp:add_to_cart' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="product" id="product" value="{{ product.pk }}" />
        <input type="submit" value="Add To Cart" />
    </form>
{% endfor %}

<div class="pagination">
	<span class="step-links">
		{% if products.has_previous %}
			<a href="?page={{ products.previous_page_number }}"> Previous</a>
		{% endif %}

		<span class="current">
			Page {{ products.number }} of {{ products.paginator.num_pages }}.
		</span>

		{% if products.has_next %}
			<a href="?page={{ products.next_page_number }}">next</a>
		{% endif %}
	</span>
</div>

{% endblock%}