#detail-container {
	width: 100%;
	margin: 20px;
	margin-bottom: 50px;
}

#detail-container p {
	text-align: center;
}

#detail-container h2 {
	text-align: center;
}

#detail-container img {
	width: 600px;
	height: 400px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.membership-price {
	display: none;
}