#index-container {
	display: block;
	padding-right: 20px; 
  	padding-left: 20px;
}

#products-container {
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.product-box {
	display: inline-block;
	height: 50%;
	width: 30%;
	border: 1px solid black;
	padding: 10px;
	margin: 5px;
	white-space: nowrap;
	overflow: hidden;
}

.product-box img {
	width: 300px;
	height: 200px;
	display: block;
	margin: 5px auto 5px auto;
}

.membership-price {
	display: none;
}

.pagination {
	position: relative;
	width: 100%;
	text-align: center;
	height: 30px;
	bottom: 20px;
}