/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  padding-top: 70px;
}
footer {
	color: white;
	background-color: black;
	position: fixed;
	bottom: 0px;
  	border-top: 1px solid blue;
  	width: 100%;
  	height: 30px;
  	line-height: 30px;
  	padding: 0 10px 0 10px;
}

#login-status {
	float: left;
}

#shopping-cart-status {
	float: right;
}